body {
   /* background-color: #ebe8e6;*/
   background-image:  linear-gradient(to left, #4e6f86, #d7d2cc);
    margin: 0;
}

.header {
    padding: 0 45px; 
    color: #cea152;
    background-color: #CFD8DC;
    font-size: 4rem;
    font-family: 'Times New Roman';
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav {
    font-size: 1rem;
}

.nav {
    list-style: none;
    margin-right: 25px;
    padding: 0;
    display: flex;
}

.nav a {
    color: black;
    text-decoration: none;
    display: block;
    transition: all 0.5s ease-out;
}

.nav a:hover{
    color: #c5cae9;
    transform: rotate(4deg)
}
.nav li { 
    margin-left: 20px;
}

.section{
    padding: 65px 40px;
    max-width: 760px;
}



.year {
    color: #10072b;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.category {
    font-family: 'Inconsolata', monospace;
    font-size: 1.8rem;
    margin-top: 0;
}

.name1 {
    font-family: 'Palatino';
    font-weight:bold ;
    font-size: 1.2rem;
    line-height: 1.5;
}

.name2 {
    font-family: 'Palatino';
    font-weight:bold;
    font-size: 1.2rem;
    line-height: 1.5;
}
.name3 {
    font-family: 'Palatino';
    font-weight:bold;
    font-size: 1.2rem;
    line-height: 1.5;
}

.century21Nav a {
    text-decoration: none;
    color:black;
    font-family: 'syne-mono', monospace;
    font-size: 1.2rem;
    

}

.century20Nav a {
    text-decoration: none;
    color: black;
    font-family: 'syne-mono', monospace;
    font-size: 1.2rem;
    
}

.women a {
    text-decoration: none;
    color: black;
    font-family: 'syne-mono', monospace;
    font-size: 1.2rem;
    
}

.french a {
    text-decoration: none;
    color: black;
    font-family: 'syne-mono', monospace;
    font-size: 1.2rem;
    
}

.centuryDiv{
    max-width: 750px;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
   
    
}

.century {
    background: rgba(255,255,255, 0.3);
    margin: 20px;
    padding: 8px 14px;
    border-radius: 8px;
    text-align: center;  
   
    flex-basis: 150px;    
    flex-grow: 1;
}

.imageDiv{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

img {
    width: 100%;
    padding: 8px 14px;
}
